<!--<header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Hello!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>-->

<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <form name="queueForm" ng-submit="submitForm(queueForm.$valid)" novalidate>
        <fieldset class="form-group" ng-class="{ 'has-error': (queueForm.chanel.$invalid && queueForm.chanel.$touched) || queueForm.chanel.$error.min}">
          <label>Número de canales abiertos (m)</label>
          <input type="number" min="1" class="form-control" placeholder="" name="chanel" ng-model="chanel" required>
          <p ng-show="queueForm.chanel.$invalid && queueForm.chanel.$touched && !queueForm.chanel.$error.min"
             class="help-block">El campo del núnmero de canales no puede estar vacio</p>
          <p ng-show="queueForm.chanel.$error.min" class="help-block">El número de canales debe ser un entero mayor a cero</p>
        </fieldset>
        <fieldset class="form-group" ng-class="{ 'has-error': (queueForm.lambda.$invalid && queueForm.lambda.$touched) || queueForm.lambda.$error.pattern}">
          <label>Tasa de llegadas promedio (A)</label>
          <input type="number" step="any" class="form-control" placeholder="" name="lambda" ng-model="lamda"
                 ng-pattern="/^([0-9]*[1-9][0-9]*(\.[0-9]+)?|[0]+\.[0-9]*[1-9][0-9]*)/" required>
          <p ng-show="queueForm.lambda.$invalid && queueForm.lambda.$touched && !queueForm.lambda.$error.pattern"
             class="help-block">El campo de lambda no puede estar vacio</p>
          <p ng-show="queueForm.lambda.$error.pattern" class="help-block">Lambda tiene que ser mayor a cero</p>
        </fieldset>
        <fieldset class="form-group" ng-class="{ 'has-error': (queueForm.tasa.$invalid && queueForm.tasa.$touched) || queueForm.tasa.$error.min}">
          <label>Tasa de servicio promedio (u)</label>
          <input type="number" step="any" min="{{lamda+.00000001}}" class="form-control" placeholder="" name="tasa" ng-model="tasa"
                 ng-pattern="/^([0-9]*[1-9][0-9]*(\.[0-9]+)?|[0]+\.[0-9]*[1-9][0-9]*)/" required>
          <p ng-show="queueForm.tasa.$error.min" class="help-block">La tasa promedio debe ser mayor a lambda u>A</p>
          <p ng-show="queueForm.tasa.$invalid && queueForm.tasa.$touched && !queueForm.tasa.$error.min"
             class="help-block">El campo de la tasa promedio no puede estar vacio</p>
        </fieldset>
        <button type="submit" class="btn btn-primary" ng-disabled="queueForm.$invalid">Calcular</button>
      </form>
      {{chanel}}
    </div>

    <div class="col-lg-3 col-md-4">
      <xc-base>
        <div class="list-group-item">
          <p class="list-group-item-text">P(0) clientes en el sistema</p>
          <p class="list-group-item-heading"><b>P0 = {{p0}}</b></p>
        </div>
        <div class="list-group-item">
          <p class="list-group-item-text">Promedio de clientes en el sistema</p>
          <p class="list-group-item-heading"><b>L = {{l}}</b></p>
        </div>
        <div class="list-group-item">
          <p class="list-group-item-text">Tiempo promedio en el sistema</p>
          <p class="list-group-item-heading"><b>W = {{w}}</b></p>
        </div>
        <div class="list-group-item">
          <p class="list-group-item-text">Promedio de clientes en la linea</p>
          <p class="list-group-item-heading"><b>Lq = {{lq}}</b></p>
        </div>
        <div class="list-group-item">
          <p class="list-group-item-text">Tiempo promedio en la cola</p>
          <p class="list-group-item-heading"><b>Wq = {{wq}}</b></p>
        </div>
        <div class="list-group-item">
          <p class="list-group-item-text">Tasa de utilización</p>
          <p class="list-group-item-heading"><b>P = {{p}}</b></p>
        </div>

      </xc-base>
    </div>

  </div>
</div>



<!--<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.awesomeThings">
        <li><a href="#" uib-tooltip="{{thing.info}}">{{thing.name}}</a></li>
      </ul>
    </div>
  </div>
</div>-->
